/* start valiables */

/* end valiables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 970px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start nav-bar */
.navbar-brand {
    font-weight: bold;
}
/* end nav-bar */

/* start hello-sec */
.hello-sec {
    padding-top: 0;
    width: inherit;
    height: 85vh;
    background-image: url(../assets/Image/first-sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hello-sec .hello-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    padding-left: 120px;
}
.hello-sec .hello-box .text .main-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
}
.hello-sec .hello-box .text .sub-text:nth-child(1) {
    line-height: 1;
}
.hello-sec .hello-box .text .sub-text {
    line-height: 1.6;
    font-weight: bold;
    font-size: 17px;
}
.hello-sec .hello-box .text {
    padding-bottom: 10px;
}
.hello-sec .hello-box .btn {
    width: fit-content;
    font-size: 13px;
    padding: 5px 20px;
}
.hello-sec .hello-box .icons {
    display: flex;
    padding-top: 25px;
    gap: 10px;
}
.hello-sec .hello-box .icons .icon {
    padding: 15px 20px;
    font-size: 15px;
}
/* end hello-sec */

/* start services */
.services {
    height: 85vh;
    position: relative;
}
.services .head-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-top: 100px;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: #a2d9ff;
    border-radius: 50%;
}
.button {
    font-size: 25px;
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
}
.services .cards {
    position: absolute;
    top: 30%;
}
.services .iconn {
    font-size: 80px;
}
.services .iconn2 {
    font-size: 80px;
    color: pink;
}
/* end services */

/* start projects */
.projects .head-services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding-top: 100px;
}
.projects .button {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid rgb(153, 150, 150);
    border-left: 2px solid rgb(153, 150, 150);
}
/* end projects */

/* start footer */
.footer {
    background-color: #87CEEB;
    text-align: center;
}
.footer .banner {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.footer .banner-text {
    color: white;
    font-size: 14px;
}
.footer .highlight {
    color: pink;
}
/* end footer */