/* start valiables */

/* end valiables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 970;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start nav-bar */
.navbar-brand {
    font-weight: bold;
}
/* end nav-bar */

/* start hello-sec */
.hello-sec {
    padding-top: 0;
    width: inherit;
    height: 85vh;
    background-image: url(../assets/Image/first-sec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hello-sec .hello-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    padding-left: 120px;
}
.hello-sec .hello-box .text .main-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
}
.hello-sec .hello-box .text .sub-text:nth-child(1) {
    line-height: 1;
}
.hello-sec .hello-box .text .sub-text {
    line-height: 1.6;
    font-weight: bold;
    font-size: 17px;
}
.hello-sec .hello-box .text {
    padding-bottom: 10px;
}
.hello-sec .hello-box .btn {
    width: fit-content;
    font-size: 11px;
    padding: 5px 20px;
}
.hello-sec .hello-box .icons {
    display: flex;
    padding-top: 25px;
    gap: 10px;
}
.hello-sec .hello-box .icons .icon {
    padding: 15px 20px;
    font-size: 10px;
}
/* end hello-sec */